<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318314625464-4l51k1e3jdrslhui3r1ueij42lib42fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318314625464-4l51k1e3jdrslhui3r1ueij42lib42fv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdVE-UPzyJ2pRgvH6aD336CB-gUZtjVRY</string>
	<key>GCM_SENDER_ID</key>
	<string>318314625464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Metelsky.ToDo-Firebase</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-abf60</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-abf60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318314625464:ios:73fb7deeed705882baf74d</string>
</dict>
</plist>